<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Ingrediente</th>
                <th>Cantidad Necesaria</th>
                <th>Existencias</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for postreIngrediente in postresIngredientes %}
            <tr>
                <td>{{ postreIngrediente.nombreIngrediente }}</td>
                <td>{{ postreIngrediente.cantidad }}</td>
                <td>{{ postreIngrediente.existencias }}</td>
                <td>
                    {% if postreIngrediente.existencias >= postreIngrediente.cantidad %}
                        <span class="badge bg-success">Suficiente</span>
                    {% else %}
                        <span class="badge bg-danger">Insuficiente</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
