<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Nombre</th>
                   <th>Cantidad</th>
                <th>Existencias</th>
                <th>Acciones</th>
        
            </tr>
        </thead>
        <tbody>
            {% for postreIngrediente in postresIngredientes %}
            <tr>
                <td>{{ postreIngrediente.nombreIngrediente}}</td>
                  <td>{{ postreIngrediente.cantidad}}</td>
                  <td>{{ postreIngrediente.existencias }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

