{% for postre in postres %}
<tr>
    <td>{{ postre.idPostre }}</td>
    <td>{{ postre.nombrePostre }}</td>
    <td>${{ postre.precio }}</td>
    <td>
      <button class="btn btn-sm btn-info btn-ingredientes" data-idPostre="{{ postre.idPostre }}" disabled>
  <i class="bi bi-list-ul"></i> Ver Ingredientes
</button>
 <!--
        <button class="btn btn-warning btn-sm btn-editar-postre" data-id="{{ postre.idPostre }}">
            <i class="bi bi-pencil"></i> Editar
        </button>    
  -->
        
        <button class="btn btn-danger btn-sm btn-eliminar-postre" data-id="{{ postre.idPostre }}">
            <i class="bi bi-trash"></i> Eliminar
        </button>
    </td>
</tr>
{% endfor %}
