{% for ingrediente in ingredientes %}
<tr>
    <td>{{ ingrediente.idIngrediente }}</td>
    <td>{{ ingrediente.nombreIngrediente }}</td>
    <td>{{ ingrediente.existencias }}</td>
    <td>
         <button class="btn btn-warning btn-sm btn-editar-postre" data-id="{{ ingrediente.idIngrediente }}">
            <i class="bi bi-pencil"></i> Editar
        </button>    
        <button class="btn btn-danger btn-sm btn-eliminar-ingrediente" data-id="{{ ingrediente.idIngrediente }}">
            <i class="bi bi-trash"></i> Eliminar
        </button>
    </td>
</tr>
{% endfor %}
